<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arcade Offline</title>
    <style>
        * {
            font-family: sans-serif;
        }
        #activity {
            color: white;
            background-color: #0f0;
        }
    </style>
</head>
<body>
    <div>
        <h3>Session: <span id="activity">Active</span></h3>
        <h3>Time Remaining:</h3>
        <h1>60:00</h1>
    </div>
</body>
</html>